APP_NAME="PT Teknologi Aeronautika Utama"
SECRET_KEY="R4h421a-S3k4l1"
DATABASE_URL="mysql+pymysql://pttr8154_user:Ayocool123$%@localhost:3306/pttr8154_company_profile"
DEFAULT_LANG="id"  # id|en|ar
BASE_URL="https://pttau.com"
MAIL_HOST="smtp.gmail.com"
MAIL_PORT=587
MAIL_USER="you@gmail.com"
MAIL_PASS="app-password"
MAIL_FROM="noreply@domain-anda.com"