<footer class="text-white py-5" style="background-color: #6f869e">
  <div class="container">
    <div class="row">
      {% for section in footer_sections %}
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold mb-3">{{ section.name }}</h5>
        <ul class="list-unstyled">
          {% for link in section.links %}
          <li class="mb-2">
            {% if link.icon %}
            <i class="{{ link.icon }}"></i>
            {% endif %} {% if link.url %}
            <a
              href="{{ link.url }}"
              class="text-white text-decoration-none"
              target="_blank"
            >
              {{ link.label }}
            </a>
            {% else %}
            <span>{{ link.label }}</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
    <div class="text-center small mt-4">
      © PT Teknologi Aeronautika Utama. All rights reserved.
    </div>
  </div>
</footer>
