<footer class="py-5 bg-dark text-light mt-auto">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <h5 class="mb-3">Social Media</h5>
        <a class="text-light d-block" href="#"><i class="bi bi-instagram"></i> Instagram</a>
        <a class="text-light d-block" href="#"><i class="bi bi-youtube"></i> YouTube</a>
        <a class="text-light d-block" href="#"><i class="bi bi-facebook"></i> Facebook</a>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Contact Info</h5>
        <div>Address: Jalan Pajajaran No. 154 Bandung 40174</div>
        <div>Email: marketing@example.com</div>
        <div>info@example.com</div>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Links</h5>
        <a class="text-light d-block" href="#">Whistle Blowing System</a>
        <a class="text-light d-block" href="#">Public Information</a>
        <a class="text-light d-block" href="#">E‑Procurement</a>
      </div>
    </div>
    <div class="pt-4 small">© {{ settings.APP_NAME if settings else 'Company' }}. All rights reserved.</div>
  </div>
</footer>
